
@font-face {
    font-family: 'RobotoLight';
    src: url('fonts/Roboto-Light-webfont.eot');
    src: url('fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Light-webfont.woff') format('woff'),
         url('fonts/Roboto-Light-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Light-webfont.svg#RobotoLight') format('svg');
    font-weight: normal;
    font-style: normal;

}
html {height:100%;}
body {height:100%; margin:0; padding:0; font-family: "RobotoLight", Arial, sans-serif; background:#eee;}
#content {position:relative; z-index:1; font-family: "RobotoLight", Arial, sans-serif; color:#33B5E5}

.inputBox{
  background:url('../etc/tbimg.png') repeat-y right;
  padding-left:5px;
  border:0;
  width: 232px;
}
<!--[if IE 6]>
<style type="text/css">
/* some css fixes for IE browsers */
html {overflow-y:hidden; font-family:"RobotoLight";}
body {overflow-y:auto; font-family:"RobotoLight";}
#bg {position:absolute; z-index:-1;}
#content {position:static; font-family:"RobotoLight";}
</style>
<![endif]-->